/* Enter your custom styles here */
.marginText {
    margin-top: 3.5px;
}

.customBackground {
    /* background-color: rgb(0, 86, 50); */
    background-image: url("https://t4.ftcdn.net/jpg/06/06/38/89/360_F_606388937_cWL2pJJEJ2UMREdB9g2tdXFHjutLjl2S.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.boldText {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.tileClass {
    transition: transform 0.2s;
    width: 200px;  /* Ajuste a largura conforme necessário */
    height: 200px; /* Ajuste a altura conforme necessário  */
    margin: 20px;  /* Espaçamento entre os tiles           */
}